body{
  
    position: relative;
    width: 1366px;
    height: 768px;
    background: #EBD9D9;
}

.board{  
    position: absolute;
    width: 1326px;
    height: 723px;
    left: 18px;
    top: 19px;
    background: #FFFFFF;
}

h1{
    position: absolute;
    width: 265px;
    height: 49px;
    left: 535px;
    top: 44px;
    font-family: 'Imbue';
    font-style: normal;
    font-weight: 100;
    font-size: 40px;
    line-height: 48px;
    color: #414141;
}

.table{
    position: absolute;
    width: 700px;
    height: 282.5px;
    left: 325px;
    top: 192px;
    background: #D9E2E4;
}

.name{
    background: #CCDDE7;
    height: 23.5px;
    text-align: center;
}

.title{
    height: 49px;
    background: #FFFFFF;
}

.content{
    height: 250px;
    background: #FFFFFF;
    text-align:start
}

.b{
    box-sizing: border-box;
    position: absolute;
    width: 68px;
    height: 31px;
    left: 957px;
    top: 572px;
    
    background: #b7b7b7;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-weight: 60;
    color: #000000
}

.b1{
    box-sizing: border-box;
    position: absolute;
    width: 68px;
    height: 31px;
    left: 324px;
    top: 572px;
    
    background: #b7b7b7;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-weight: 60;
    color: #000000
}

.b2{
    box-sizing: border-box;
    position: absolute;
    width: 68px;
    height: 31px;
    left: 324px;
    top: 148px;
    
    background: #b7b7b7;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-weight: 60;
    color: #000000
}